<div class="toolbar-container">
  <div class="toolbar-left">
    @if (showBack) {
      <button mat-icon-button color="primary" (click)="onBack()" matTooltip="Go Back">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }

    <h1 class="toolbar-title">{{ title }}</h1>
  </div>

  <div class="toolbar-right">
    @for (action of actions; track action.id) {
      @switch (action.type) {
        @case ('icon') {
          <button
            mat-icon-button
            [color]="action.color || 'primary'"
            [disabled]="action.disabled || false"
            [matTooltip]="action.tooltip || action.label"
            (click)="onAction(action)"
          >
            <mat-icon>{{ action.icon }}</mat-icon>
          </button>
        }

        @case ('raised') {
          <button
            mat-raised-button
            [color]="action.color || 'primary'"
            [disabled]="action.disabled || false"
            [matTooltip]="action.tooltip || ''"
            (click)="onAction(action)"
          >
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        }

        @case ('stroked') {
          <button
            mat-stroked-button
            [color]="action.color || 'primary'"
            [disabled]="action.disabled || false"
            [matTooltip]="action.tooltip || ''"
            (click)="onAction(action)"
          >
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        }

        @case ('flat') {
          <button
            mat-flat-button
            [color]="action.color || 'primary'"
            [disabled]="action.disabled || false"
            [matTooltip]="action.tooltip || ''"
            (click)="onAction(action)"
          >
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        }

        @default {
          <button
            mat-button
            [color]="action.color || 'primary'"
            [disabled]="action.disabled || false"
            [matTooltip]="action.tooltip || ''"
            (click)="onAction(action)"
          >
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        }
      }
    }

    @if (showMenu) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        @for (action of actions; track action.id) {
          <button mat-menu-item [disabled]="action.disabled || false" (click)="onAction(action)">
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            <span>{{ action.label }}</span>
          </button>
        }
      </mat-menu>
    }
  </div>
</div>
